@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
    background: rgb(44,3,17);
    background: linear-gradient(90deg, rgba(44,3,17,1) 0%, rgba(36,58,105,1) 35%);
}

:root {
    --primary-color: #243a69;
    --second-color: #5b88a5;
    --black-color: #191013;
    --white-color: #d4cdc5;
} 

html {
    font-size: 62.5%;
}

/*****Register*****/

.Register header h1{
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 1.5rem;
    font-size: 3.5rem;
    color: var(--black-color);
    margin: 1.5rem;
    background-color: var(--white-color);
}

h2 {
    font-weight: 400;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 45px;
    color: var(--white-color);
}

/*********FormRegister***********/

.form-register label {
    font-weight: 100;
    font-size: 4.5rem;
    color: var(--white-color);
    margin: 1.5rem 1.5rem ;
    width: 50vw;
    height: 3vh;
}

.form-register input {
    width: 50vw;
    height: 3vh;
}

.form-register div {
    margin-bottom: 4.5rem;
}

.form-register .button-container {
    display: flex;
    justify-content: center;
}

.form-register .button-container button {
    width: 50rem;
    height: 7rem;
    font-size: 4.5rem;
    border-radius: 15px;
}
